a{
    text-decoration: none;
    color: black;
}
.p-Home.TextBox6{
    width: 700px;
}
.p-Home.TextBox5{
    margin-top: 450px;
}
.p-Home.Flex18{
    display: inline;
    padding-right: 5px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
}
.p-Home.TextBox44{
    display: inline;
    padding-right: 5px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
}
.p-Home.TextBox261{
    margin-top: 70px;
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox298{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
}
.p-Home.TextBox295{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
}
.p-Home.TextBox301{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    letter-spacing: 5px;
}
.p-Home.TextBox310{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox116{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox226{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox191{
    background-image: linear-gradient(108deg, #b16cea 8%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.p-Home.TextBox185{
    background-image: linear-gradient(108deg, #b16cea 0.2%, #ff5e69 40%, #ff8a56 77%, #ffa84b 91%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 22px;    
}

.p-Home.Div186{
    padding-right: 280px;
    
}
.p-Home.Div194{
    height: 1px;
    background: white;
}
.p-Home.Div195{
    height: 1px;
    background: white;
}
.p-Home.Div196{
    height: 1px;
    background: white;
}
.p-Home.Div197{
    height: 1px;
    background: white;
}
.p-Home.Div201{
    height: 1px;
    background: white;

}
.p-Home.Div212{
    height: 1px;
    background: white;

}
.p-Home.Div310{
    height: 1px;
    background: rgb(0, 0, 0);
}
.p-Home.Div311{
    height: 1px;
    background: rgb(0, 0, 0);
}
.p-Home.Div312{
    height: 1px;
    background: rgb(0, 0, 0);
}
.p-Home.Div313{
    height: 1px;
    background: rgb(0, 0, 0);
}
.p-Home.Div314{
    height: 1px;
    background: rgb(0, 0, 0);
}
.p-Home.Div315{
    height: 1px;
    background: rgb(0, 0, 0);
}
.p-Home.Image66{
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}
.p-Home.Div464{
    height: 1px;
    background: rgb(255, 255, 255);
}
.p-Home.Div465{
    height: 1px;
    background: rgb(255, 255, 255);
}
.p-Home.Div460{
    height: 1px;
    background: rgb(255, 255, 255);
}
.p-Home.Div461{
    height: 1px;
    background: rgb(255, 255, 255);
}
.p-Home.Div456{
    height: 1px;
    background: rgb(255, 255, 255);
}
.p-Home.Div455{
    height: 1px;
    background: rgb(255, 255, 255);
}
.p-Home.Div468{
    height: 1px;
    background: rgb(255, 255, 255);
}
.p-Home.Div469{
    height: 1px;
    background: rgb(255, 255, 255);
}

